h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 23px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: "Times New Roman";
}

p {
  font-size: 14px;
  font-family: sans-serif;
}

.foot {
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

.related {
  list-style: none;
}

.boldp {
  font-weight: bold;
}

.bodycontrol {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.audio_position {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.back {
  background-color: rgb(247, 207, 222);
}

.article_back {
  border: 5px solid rgba(255, 255, 255, 0.8);
  background: rgba(231, 158, 165, 1);
  padding: 10px;
  display: inline-block;
  width: 670.4px;
}

.backend {
  background-color: rgba(189, 81, 99, 0.8);
  line-height: 150%;
  padding-top: 1px;
  /*deal with the space between the text and border*/
  /* padding-left: padding-right*/
  /*margin: between the space of different div*/
}

a:link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  /*get rid of the underline*/
}

a:visited {
  color: rgba(153, 102, 153, 0.8);
}

a:hover {
  color: rgba(153, 153, 205, 1);
  text-decoration: underline dotted green;
  background-color: white;
}

a:active {
  color: rgba(153, 102, 153, 1);
  background-color: white;
  font-style: italic;
}

header div {
  text-align: center;
  background-color: #cc99cc;
}

header a {
  font-size: 15px;
  font-family: "Corbel";
  font-style: italic;
  display: inline-block;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
}

aside {
  background: linear-gradient(
    to right,
    rgba(247, 207, 222, 0.4),
    rgba(255, 255, 255, 1)
  );
  border: 5px solid rgba(222, 213, 206, 0.8);
}

h4 {
  color: rgba(206, 134, 140, 0.7);
}

.center {
  text-align: center;
}

div iframe {
  position: absolute;
  right: -200px;
  bottom: 12px;
}

.colorpink {
  color: rgba(206, 134, 140, 0.7);
}
